{
  "openapi": "3.1.0",
  "info": {
    "title": "ownsi API",
    "description": "Prove ownership of a domain with a TXT record, and read a zone before anyone signs in.\n\nTwo surfaces, and they behave differently on purpose:\n\n- `GET /api/zones/:name` is public. It streams what DNS answers, in the order DNS answers it,\n  and writes nothing. No account, no key.\n- Everything under `/api/domains`, `/api/claims` and `/api/verifications` belongs to an\n  account and needs a session cookie.\n\nA lookup that failed never carries records, and a claim that has not been checked never carries a\ndiagnosis: both are tagged unions, so the shape tells you which case you are in. Errors are always\n`{ error: { code, message, docsUrl } }` with a stable `code`.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://ownsi.dev",
      "description": "The origin the front end and the API share"
    }
  ],
  "tags": [
    {
      "name": "Zones",
      "description": "Reading a zone the way a visitor sees it: the delegation first, so the provider can be named, then how long publishing is likely to take. Public, rate limited per IP."
    },
    {
      "name": "Domains",
      "description": "A name on an account, and nothing else — no status, no token. It is what a claim is opened against. Session required."
    },
    {
      "name": "Claims",
      "description": "The episode: one token, one seven-day window, one outcome. A claim is never reopened, so the list of them is the account's history. Session required."
    },
    {
      "name": "Events",
      "description": "One stream per open tab, telling an account's screens what moved. It carries no state: a message names the resource, the client reads it back. Session required."
    },
    {
      "name": "Proof",
      "description": "A proved claim, shared. A link carries its own slug — never the DNS token — and resolves for seven days at `/p/:slug`, where the page states one moment and reads no DNS. Session required to publish one."
    },
    {
      "name": "Verifications",
      "description": "The process behind a claim: the runs it has made, the named diagnosis of the last one, and when the next lands. Session required."
    }
  ],
  "paths": {
    "/api/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Watch this account for changes",
        "description": "Server-sent events, one connection per open tab. Every message arrives on the default `message` event and its `type` field says what moved; it carries no state of its own, so the client reads the resource back over its own route. A `heartbeat` every twenty seconds keeps the connection off an idle proxy's timer and tells a client that has heard nothing that it is still connected.",
        "responses": {
          "200": {
            "description": "The stream, open until the client closes it.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "const": "heartbeat",
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type",
                        "verificationId",
                        "claimId"
                      ],
                      "properties": {
                        "type": {
                          "const": "verification.ran",
                          "type": "string"
                        },
                        "verificationId": {
                          "type": "string"
                        },
                        "claimId": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type",
                        "claimId",
                        "domainId"
                      ],
                      "properties": {
                        "type": {
                          "const": "claim.ended",
                          "type": "string"
                        },
                        "claimId": {
                          "type": "string"
                        },
                        "domainId": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type",
                        "domainId"
                      ],
                      "properties": {
                        "type": {
                          "const": "domain.archived",
                          "type": "string"
                        },
                        "domainId": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getApiEvents"
      }
    },
    "/api/zones/{name}": {
      "get": {
        "tags": [
          "Zones"
        ],
        "summary": "Read a zone",
        "description": "Streams the reading in the order DNS answers it: the delegation first, so the provider can be named, then the publishing estimate. No account needed; nothing is written to DNS.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "maxLength": 253,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": [
                        "event",
                        "data"
                      ],
                      "properties": {
                        "event": {
                          "const": "delegation",
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "required": [
                            "step",
                            "name",
                            "domain",
                            "nameservers",
                            "provider",
                            "observedAt",
                            "cached"
                          ],
                          "properties": {
                            "step": {
                              "const": "delegation",
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "domain": {
                              "type": "object",
                              "required": [
                                "ascii",
                                "unicode",
                                "normalisations",
                                "isPublicSuffix"
                              ],
                              "properties": {
                                "ascii": {
                                  "type": "string"
                                },
                                "unicode": {
                                  "type": "string"
                                },
                                "normalisations": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "isPublicSuffix": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "nameservers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "provider": {
                              "default": "cloudflare",
                              "type": "string",
                              "enum": [
                                "cloudflare",
                                "route53",
                                "godaddy",
                                "namecheap",
                                "google-domains",
                                "vercel",
                                "other"
                              ]
                            },
                            "observedAt": {
                              "type": "string"
                            },
                            "cached": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "event",
                        "data"
                      ],
                      "properties": {
                        "event": {
                          "const": "publishing",
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "required": [
                            "step",
                            "publishingMinutes",
                            "negativeCacheTtlSeconds"
                          ],
                          "properties": {
                            "step": {
                              "const": "publishing",
                              "type": "string"
                            },
                            "publishingMinutes": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "negativeCacheTtlSeconds": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Response for status 502",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getApiZonesByName"
      }
    },
    "/api/domains/": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Put a domain on this account",
        "description": "Idempotent on the name: asking twice returns the same domain. It carries no status of its own — open a claim to start proving it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response for status 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "unicodeName",
                    "archived",
                    "createdAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "unicodeName": {
                      "type": "string"
                    },
                    "archived": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postApiDomains"
      },
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List the domains on this account",
        "description": "Newest first, one page at a time: pass `nextCursor` back as `cursor` for the next one. Each domain carries the state of the claim in play on it, and `counts` tallies every status on the account, not only this page. `name` narrows to one, which is how a page reads a domain it only knows by name. Archived domains are left out; they are still readable by id.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "minLength": 1,
              "maxLength": 253,
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "unclaimed",
                "pending",
                "proved",
                "expired",
                "canceled"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "domains",
                    "counts",
                    "nextCursor"
                  ],
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "unicodeName",
                          "archived",
                          "createdAt",
                          "status",
                          "claimId",
                          "verificationId",
                          "claimStartedAt",
                          "claimEndedAt"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "unicodeName": {
                            "type": "string"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "unclaimed",
                              "pending",
                              "proved",
                              "expired",
                              "canceled"
                            ]
                          },
                          "claimId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "verificationId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "claimStartedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "claimEndedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        }
                      }
                    },
                    "counts": {
                      "type": "object",
                      "required": [
                        "unclaimed",
                        "pending",
                        "proved",
                        "expired",
                        "canceled"
                      ],
                      "properties": {
                        "unclaimed": {
                          "type": "number"
                        },
                        "pending": {
                          "type": "number"
                        },
                        "proved": {
                          "type": "number"
                        },
                        "expired": {
                          "type": "number"
                        },
                        "canceled": {
                          "type": "number"
                        }
                      }
                    },
                    "nextCursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getApiDomains"
      }
    },
    "/api/domains/{id}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Read one domain",
        "description": "The name and when it joined the account. Its claims are their own resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "unicodeName",
                    "archived",
                    "createdAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "unicodeName": {
                      "type": "string"
                    },
                    "archived": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getApiDomainsById"
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Erase this domain and everything it carried",
        "description": "The only eraser. Its claims, their notices and their verifications go with it, and any proof link stops resolving. Archiving is what you want if you only wanted it off the list.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Response for status 204"
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "deleteApiDomainsById"
      }
    },
    "/api/domains/{id}/archive": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Stop involving me with this name",
        "description": "Leaves the list and ends any open claim on it. Nothing is retracted: a proof keeps its dates and its links resolve.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "unicodeName",
                    "archived",
                    "createdAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "unicodeName": {
                      "type": "string"
                    },
                    "archived": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postApiDomainsByIdArchive"
      }
    },
    "/api/claims/": {
      "post": {
        "tags": [
          "Claims"
        ],
        "summary": "Open a claim on a domain",
        "description": "Mints the token, opens the seven-day window and starts the verification that runs against it. The record to create comes back with the claim; the process comes back as `verificationId`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domainId"
                ],
                "properties": {
                  "domainId": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "domainId"
                ],
                "properties": {
                  "domainId": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "domainId"
                ],
                "properties": {
                  "domainId": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response for status 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "domainId",
                    "domain",
                    "unicodeDomain",
                    "state",
                    "token",
                    "records",
                    "verificationId",
                    "expiresAt",
                    "endedAt",
                    "createdAt",
                    "coexistence"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "domainId": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "unicodeDomain": {
                      "type": "string"
                    },
                    "state": {
                      "default": "pending",
                      "type": "string",
                      "enum": [
                        "pending",
                        "proved",
                        "expired",
                        "canceled"
                      ]
                    },
                    "token": {
                      "type": "string"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "host",
                          "name",
                          "type",
                          "value"
                        ],
                        "properties": {
                          "host": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "const": "TXT",
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "verificationId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "endedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "coexistence": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "maskedEmail",
                            "provedAt"
                          ],
                          "properties": {
                            "maskedEmail": {
                              "type": "string"
                            },
                            "provedAt": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postApiClaims"
      },
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "List the claims on this account",
        "description": "Newest first, every state included — a claim is never deleted, so the list is the account's history. Narrow it to one domain with `domainId`.",
        "parameters": [
          {
            "name": "domainId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "claims"
                  ],
                  "properties": {
                    "claims": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "domainId",
                          "domain",
                          "unicodeDomain",
                          "state",
                          "token",
                          "records",
                          "verificationId",
                          "expiresAt",
                          "endedAt",
                          "createdAt"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "domainId": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "unicodeDomain": {
                            "type": "string"
                          },
                          "state": {
                            "default": "pending",
                            "type": "string",
                            "enum": [
                              "pending",
                              "proved",
                              "expired",
                              "canceled"
                            ]
                          },
                          "token": {
                            "type": "string"
                          },
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "host",
                                "name",
                                "type",
                                "value"
                              ],
                              "properties": {
                                "host": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "const": "TXT",
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "verificationId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "expiresAt": {
                            "type": "string"
                          },
                          "endedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getApiClaims"
      }
    },
    "/api/claims/{id}": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "Read one claim",
        "description": "The token, the record to create, the window it runs in — and whether another account has proved the same name, which takes nothing away from this one.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "domainId",
                    "domain",
                    "unicodeDomain",
                    "state",
                    "token",
                    "records",
                    "verificationId",
                    "expiresAt",
                    "endedAt",
                    "createdAt",
                    "coexistence"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "domainId": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "unicodeDomain": {
                      "type": "string"
                    },
                    "state": {
                      "default": "pending",
                      "type": "string",
                      "enum": [
                        "pending",
                        "proved",
                        "expired",
                        "canceled"
                      ]
                    },
                    "token": {
                      "type": "string"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "host",
                          "name",
                          "type",
                          "value"
                        ],
                        "properties": {
                          "host": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "const": "TXT",
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "verificationId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "endedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "coexistence": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "maskedEmail",
                            "provedAt"
                          ],
                          "properties": {
                            "maskedEmail": {
                              "type": "string"
                            },
                            "provedAt": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getApiClaimsById"
      }
    },
    "/api/claims/{id}/cancel": {
      "post": {
        "tags": [
          "Claims"
        ],
        "summary": "End the open claim",
        "description": "The token stops being accepted from here on and the verification stops running. Claiming the domain again issues a new one.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "domainId",
                    "domain",
                    "unicodeDomain",
                    "state",
                    "token",
                    "records",
                    "verificationId",
                    "expiresAt",
                    "endedAt",
                    "createdAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "domainId": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "unicodeDomain": {
                      "type": "string"
                    },
                    "state": {
                      "default": "pending",
                      "type": "string",
                      "enum": [
                        "pending",
                        "proved",
                        "expired",
                        "canceled"
                      ]
                    },
                    "token": {
                      "type": "string"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "host",
                          "name",
                          "type",
                          "value"
                        ],
                        "properties": {
                          "host": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "const": "TXT",
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "verificationId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "endedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postApiClaimsByIdCancel"
      }
    },
    "/api/claims/{id}/proof_links": {
      "post": {
        "tags": [
          "Proof"
        ],
        "summary": "Publish a link to this proof",
        "description": "Idempotent while one is live: asking twice hands back the same slug. The slug is its own — never the DNS token — and it stops resolving after seven days.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Response for status 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "slug",
                    "url",
                    "claimId",
                    "domain",
                    "unicodeDomain",
                    "heldBy",
                    "token",
                    "challengeHost",
                    "provider",
                    "provedAt",
                    "standing",
                    "issuedAt",
                    "expiresAt",
                    "revokedAt"
                  ],
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "unicodeDomain": {
                      "type": "string"
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "challengeHost": {
                      "type": "string"
                    },
                    "provider": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "provedAt": {
                      "type": "string"
                    },
                    "standing": {
                      "default": "live",
                      "type": "string",
                      "enum": [
                        "live",
                        "expired",
                        "revoked"
                      ]
                    },
                    "issuedAt": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "revokedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postApiClaimsByIdProof_links"
      },
      "get": {
        "tags": [
          "Proof"
        ],
        "summary": "List the links published for this proof",
        "description": "Newest first, expired and revoked ones included — what was shared is part of the record. `standing` says which of them still resolves.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "links"
                  ],
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slug",
                          "url",
                          "claimId",
                          "domain",
                          "unicodeDomain",
                          "heldBy",
                          "token",
                          "challengeHost",
                          "provider",
                          "provedAt",
                          "standing",
                          "issuedAt",
                          "expiresAt",
                          "revokedAt"
                        ],
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "claimId": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "unicodeDomain": {
                            "type": "string"
                          },
                          "heldBy": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "challengeHost": {
                            "type": "string"
                          },
                          "provider": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "provedAt": {
                            "type": "string"
                          },
                          "standing": {
                            "default": "live",
                            "type": "string",
                            "enum": [
                              "live",
                              "expired",
                              "revoked"
                            ]
                          },
                          "issuedAt": {
                            "type": "string"
                          },
                          "expiresAt": {
                            "type": "string"
                          },
                          "revokedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getApiClaimsByIdProof_links"
      }
    },
    "/api/claims/{id}/proof_links/{slug}/revoke": {
      "post": {
        "tags": [
          "Proof"
        ],
        "summary": "Stop sharing one link",
        "description": "The slug stops resolving from here on. It retracts nothing: the proof keeps its date, and any other link to it keeps working.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "slug",
                    "url",
                    "claimId",
                    "domain",
                    "unicodeDomain",
                    "heldBy",
                    "token",
                    "challengeHost",
                    "provider",
                    "provedAt",
                    "standing",
                    "issuedAt",
                    "expiresAt",
                    "revokedAt"
                  ],
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "unicodeDomain": {
                      "type": "string"
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "challengeHost": {
                      "type": "string"
                    },
                    "provider": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "provedAt": {
                      "type": "string"
                    },
                    "standing": {
                      "default": "live",
                      "type": "string",
                      "enum": [
                        "live",
                        "expired",
                        "revoked"
                      ]
                    },
                    "issuedAt": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "revokedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "docsUrl"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "docsUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postApiClaimsByIdProof_linksBySlugRevoke"
      }
    },
    "/api/verifications/{id}": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "summary": "Read one verification",
        "description": "Where the process is: the named diagnosis of the last run, when the next one lands, and the deadline it is running against.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "claimId",
                    "method",
                    "status",
                    "lastOutcome",
                    "diagnosis",
                    "waitEstimate",
                    "lastRunAt",
                    "nextRunAt",
                    "deadline",
                    "createdAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "method": {
                      "const": "dns_txt",
                      "type": "string"
                    },
                    "status": {
                      "default": "checking",
                      "type": "string",
                      "enum": [
                        "checking",
                        "propagating",
                        "needs_attention",
                        "proved",
                        "exhausted",
                        "stopped"
                      ]
                    },
                    "lastOutcome": {
                      "anyOf": [
                        {
                          "default": "found",
                          "type": "string",
                          "enum": [
                            "found",
                            "absent",
                            "unresolvable"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "diagnosis": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "domain_appended",
                                  "type": "string"
                                },
                                "cause": {
                                  "type": "string"
                                },
                                "fix": {
                                  "type": "string"
                                },
                                "observed": {
                                  "type": "object",
                                  "required": [
                                    "name"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "record_at_apex",
                                  "type": "string"
                                },
                                "cause": {
                                  "type": "string"
                                },
                                "fix": {
                                  "type": "string"
                                },
                                "observed": {
                                  "type": "object",
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "foreign_token",
                                  "type": "string"
                                },
                                "cause": {
                                  "type": "string"
                                },
                                "fix": {
                                  "type": "string"
                                },
                                "observed": {
                                  "type": "object",
                                  "required": [
                                    "value"
                                  ],
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "expired_token",
                                  "type": "string"
                                },
                                "cause": {
                                  "type": "string"
                                },
                                "fix": {
                                  "type": "string"
                                },
                                "observed": {
                                  "type": "object",
                                  "required": [
                                    "value"
                                  ],
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "value_formatted",
                                  "type": "string"
                                },
                                "cause": {
                                  "type": "string"
                                },
                                "fix": {
                                  "type": "string"
                                },
                                "observed": {
                                  "type": "object",
                                  "required": [
                                    "value"
                                  ],
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "no_matching_record",
                                  "type": "string"
                                },
                                "cause": {
                                  "type": "string"
                                },
                                "fix": {
                                  "type": "string"
                                },
                                "observed": {
                                  "type": "object",
                                  "required": [
                                    "values"
                                  ],
                                  "properties": {
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "cname_conflict",
                                  "type": "string"
                                },
                                "cause": {
                                  "type": "string"
                                },
                                "fix": {
                                  "type": "string"
                                },
                                "observed": {
                                  "type": "object",
                                  "required": [
                                    "target"
                                  ],
                                  "properties": {
                                    "target": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "record_absent",
                                  "type": "string"
                                },
                                "cause": {
                                  "type": "string"
                                },
                                "fix": {
                                  "type": "string"
                                },
                                "observed": {
                                  "type": "object",
                                  "required": [
                                    "answer"
                                  ],
                                  "properties": {
                                    "answer": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "type"
                                          ],
                                          "properties": {
                                            "type": {
                                              "const": "nxdomain",
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "required": [
                                            "type",
                                            "types"
                                          ],
                                          "properties": {
                                            "type": {
                                              "const": "nodata",
                                              "type": "string"
                                            },
                                            "types": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        }
                                      ]
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "code",
                                "cause",
                                "fix",
                                "observed"
                              ],
                              "properties": {
                                "code": {
                                  "const": "record_on_www",
                                  "type": "string"
                                },
                                "cause": {
[...]
